.tab-martor-menu {display:inline !important;}
.tab-martor-menu .item {display:inline !important;}
.martor-toolbar {margin-top:14px !important;}
.tab-martor-menu {border:0px !important;}

.section-martor .bottom {padding:0px !important;border:1px solid #D4D4D5 !important;}
.section-martor .item {padding:4px !important;}
.section-martor .button {margin-top:4px !important;}
