*.pyc
build
dist
*.egg-info
testproject/testproject/whoosh_index/
testproject/testproject/xapian_index/

# Ignore compiled version of source language
wiki/locale/en/LC_MESSAGES/django.mo

# Ignore this folder which is created by tests
wiki/attachments

#PyCharm
.idea


#Docs
docs/_build
docs/_build/*

# Test project
testproject/testproject/settings/local.py
testproject/testproject/media/*

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.cache

#Eclipse
.project
.pydevproject
.settings

#Virtualenv
virtualenv
.venv

#Mr Developer
.mr.developer.cfg

# text editors
*~
*.swp
