*.pyc
build
dist
*.egg-info
README.rst
testproject/testproject/whoosh_index/
testproject/testproject/xapian_index/


#Docs
docs/_build
docs/_build/*

# Test project
testproject/testproject/settings/local.py
testproject/testproject/media/*

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Eclipse
.project
.pydevproject
.settings

#Virtualenv
virtualenv
.venv

#Mr Developer
.mr.developer.cfg

# text editors
*~
*.swp
