# THANKS!
# https://travis-ci.org/peterbe/premailer

# This indicates to Travis that we will not use or need sudo
# so that we can benefit from and use the cache->directories
# directive.

sudo: false

env: PIP_DOWNLOAD_CACHE="pip_cache"

language: python

# See tox.ini for env list
env:
- TOXENV=py26-django15
- TOXENV=py26-django16
- TOXENV=py27-django15
- TOXENV=py27-django16
- TOXENV=py27-django17
- TOXENV=py27-django18
- TOXENV=py27-django19
- TOXENV=py34-django15
- TOXENV=py34-django16
- TOXENV=py34-django17
- TOXENV=py34-django18
- TOXENV=py34-django19

install:
  - pip install tox>=2.1 coveralls

script:
  - tox -e $TOXENV

notifications:
  irc:
    - "irc.freenode.org#django-wiki"

after_success:
  - coverage combine
  - coveralls
