include COPYING
include README.rst
include setup.cfg
recursive-include wiki *.html *.txt *.png *.js *.css *.gif *.less *.mo *.po *.otf *.svg *.woff *.woff2 *.eot *.ttf
prune wiki/attachments
# Exclude compiled version of source language, it's meaningless
exclude wiki/locale/en/LC_MESSAGES/django.mo

