# The web framework
django>=1.4,<1.7

# Thumbnails in Django
# For Django 1.4, use sorl-thumbnail<11.12.1:
# https://github.com/mariocesar/sorl-thumbnail/issues/255
sorl-thumbnail>=11.12.1b

# Migrations in Django
South>=0.8.4

# Use requirements that are common with Travis tests
-r .travis/requirements.txt
