{% extends "wiki/base.html" %}
{% load wiki_tags i18n %}
{% load url from future %}

{% block pagetitle %}{{ article.current_revision.title }}{% endblock %}

{% block wiki_breadcrumbs %}
{% include "wiki/includes/breadcrumbs.html" %}
{% endblock %}

{% block wiki_contents %}

  <div class="tabbable tabs-top" style="margin-top: 20px;">
    <ul class="nav nav-tabs">
      <li style="float: left">
        <h1 style="margin-top: -10px;">{{ article.current_revision.title }}</h1>
      </li>
      {% include "wiki/includes/article_menu.html" %}
    </ul>
    <div class="tab-content">
      {% block wiki_contents_tab %}
      {% wiki_render article %}
      {% endblock %}
    </div>
  </div>

<p style="margin-top: 20px;"><em>{% trans "Article last modified:" %} {{ article.current_revision.modified }}</em></p>
    
{% endblock %}

