{% load sekizai_tags i18n %}{% load url from future %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block pagetitle %}{% endblock %} -- django-\/\/  i K |</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="www.django-wiki.org">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}wiki/bootstrap/css/bootstrap.css" rel="stylesheet">
    
    <!-- TODO: Put all this stuff in Less -->
    <style>
      #id_title {font-size: 20px; height: 25px; padding: 10px; width: 400px;}
      #id_summary {width: 95%}
      
      .form-horizontal label { font-size: 18px; font-weight: bold; color: #777;}
      #settings_form label {font-size: inherit; font-weight: normal;}
      
      #settings_form select {}
      
      .asteriskField { font-size: 20px; margin-left: 5px; }
      
      .notification-list .since {
        font-size: 80%;
        color: #CCC;
      }
      
    </style>
    <link href="{{ STATIC_URL }}wiki/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    
    <script src="{{ STATIC_URL }}wiki/js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}wiki/js/core.js"></script>
    {% render_block "css" %}
    {% render_block "js" %}
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    {% block wiki_body %}
    
    {% block navbar %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url 'wiki:root' %}">django-wiki</a>
          <div class="pull-right">
            {% if user %}
              {% include "wiki/plugins/notifications/menubaritem.html" %}
            {% else %}
            <ul class="nav">
              <li>
                <a href="{% url 'admin:index' %}">{% trans "Log in" %}</a>
              </li>
            </ul>
            {% endif %}
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="https://github.com/benjaoming/django-wiki" target="_blank">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    {% endblock %}

    <div class="container" style="margin-top: 60px;">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      {% block wiki_breadcrumbs %}{% endblock %}
      {% block wiki_contents %}
      <h1>Bootstrap starter template</h1>
      <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
      {% endblock %}
      
      <div style="padding: 50px 0;">
      <footer>
        <hr />
        <a href="https://github.com/benjaoming/django-wiki" class="pull-right"><img src="{{ STATIC_URL }}wiki/img/github_icon.png" /></a>
        <p>Powered by <a href="http://www.django-wiki.org">django-wiki</a>, an open source application under the <a href="http://www.gnu.org/licenses/quick-guide-gplv3.html">GPLv3</a> license. Let knowledge be the cure.</p>
        <div style="clear: both"></div>
      </footer>
      </div>

    </div> <!-- /container -->

    {% endblock %}

    <script src="{{ STATIC_URL }}wiki/bootstrap/js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}wiki/bootstrap/js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}wiki/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}wiki/bootstrap/js/bootstrap-collapse.js"></script>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--
    <script src="{{ STATIC_URL }}wiki/bootstrap/js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}wiki/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}wiki/bootstrap/js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}wiki/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}wiki/bootstrap/js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}wiki/bootstrap/js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}wiki/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}wiki/bootstrap/js/bootstrap-typeahead.js"></script>
    -->

  </body>
</html>

