{% extends "wiki/article.html" %}
{% load wiki_tags i18n humanize %}
{% load url from future %}

{% block pagetitle %}{% trans "Listing articles in" %} {{ article.current_revision.title }}{% endblock %}

{% block wiki_contents_tab %}

<p class="lead">
  {% with paginator.object_list.count as cnt %}
    {% blocktrans with article.current_revision.title as title and cnt|pluralize:_("article,articles") as articles_plur and cnt|pluralize:_("is,are") as articles_plur_verb %}
      There {{ articles_plur_verb }} <strong>{{ cnt }} {{ articles_plur }}</strong> in the "{{ title }}" level.
    {% endblocktrans %}
  {% endwith %}
</p>


  <p>
    {% if urlpath.parent %}
    <a href="{% url 'wiki:dir' path=urlpath.parent.path %}" class="btn">
      <span class="icon-arrow-up"></span>
      {% trans "Go up one level" %}
    </a>
    {% endif %}
    <a href="{% url 'wiki:get' path=urlpath.path %}" class="btn">
      <span class="icon-arrow-right"></span>
      {% trans "View article" %}
    </a>
    <a href="{% url 'wiki:create' path=urlpath.path %}" class="btn">
      <span class="icon-plus"></span>
      {% trans "Add article in this level" %}
    </a>
  </p>

<table class="table table-striped">
  <tr>
    <th>{% trans "Title" %}</th>
    <th>{% trans "Last modified" %}</th>
  </tr>
  {% for article in articles %}
    <tr>
      <td>
        <a href="{% url 'wiki:dir' path=article.path %}"> {{ article.article.current_revision.title }} </a>
      </td>
      <td>
        {{ article.article.current_revision.created|naturaltime }}
      </td>
    </tr>
    {% empty%}
    <tr>
      <td colspan="100">
        <em>{% trans "There are no articles in this level" %}</em>
      </td>
    </tr>
  {% endfor %}
</table>

{% include "wiki/includes/pagination.html" %}

{% endblock %}

