{% extends "wiki/base.html" %}
{% load wiki_tags i18n %}

{% block pagetitle %}{% trans "History" %}: {% article_for_object urlpath as article %}{{ article.current_revision.title }}{% endblock %}

{% block wiki_breadcrumbs %}
  {% include "wiki/includes/breadcrumbs.html" %}
{% endblock %}

{% block wiki_contents %}

  {% article_for_object urlpath as article %}

  {% if article %}
    <div class="tabbable tabs-top" style="margin-top: 40px;">
      <ul class="nav nav-tabs">
        {% with "history" as selected %}
          {% include "wiki/includes/article_menu.html" %}
        {% endwith %}
        <li>
          <h1 style="margin-top: -10px;">
            {{ article.current_revision.title }}
          </h1>
        </li>
      </ul>
      <div class="tab-content">
        
        <form method="POST">
          
          {% for revision in revisions %}
            <div class="accordion" id="accordion{{ revision.revision_number }}">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" style="float: left;" data-toggle="collapse" data-parent="#accordion{{ revision.revision_number }}" href="#collapse{{ revision.revision_number }}">
                    {{ revision.created }} (#{{ revision.revision_number }}) by {% if revision.user %}{{ revision.user }}{% else %}{% if user.is_superuser %}{{ revision.ip_address|default:"anonymous (IP not logged)" }}{% else %}{% trans "anonymous (IP logged)" %}{% endif %}{% endif %}
                    {% if revision == article.current_revision %}
                      <strong>*</strong>
                    {% endif %}
                  </a>
                  <div class="pull-right" style="vertical-align: middle; margin: 3px;">
                    {% if not article|can_write:user or revision == article.current_revision %}
                    <a href="#" class="btn disabled">
                      <span class="icon-lock"></span>
                      {% trans "Switch to this version" %}
                    </a>
                    {% else %}
                    <a href="{% url wiki:change_revision_url urlpath.path revision.id %}" class="btn">
                      <span class="icon-flag"></span>
                      {% trans "Switch to this version" %}
                    </a>                    
                    {% endif %}
                    <a class="btn btn-info" data-toggle="collapse" data-parent="#accordion{{ revision.revision_number }}" href="#collapse{{ revision.revision_number }}">
                      <span class="icon-list-alt"></span>
                      {% trans "Show changes" %}
                    </a>
                  </div>
                  <div style="clear: both"></div>
                </div>
                <div id="collapse{{ revision.revision_number }}" class="accordion-body collapse">
                  <div class="accordion-inner">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          
          <script type="text/javascript">
            $(".collapse").collapse()
          </script>
          
          {% include "wiki/includes/pagination.html" %}
          
        </form>

      </div>
    </div>

    <div class="tabbable tabs-below" style="margin-top: 20px;">
      <ul class="nav nav-tabs">
        <li style="margin-top: 10px;"><em>{% trans "Article last modified:" %} {{ article.current_revision.modified }}</em></li>
      </ul>
    </div>
    
  {% else %}
    {% trans "An article for this path does not exist." %}
  {% endif %}
  
{% endblock %}

