{% extends "wiki/base.html" %}
{% load wiki_tags i18n sekizai_tags %}

{% block pagetitle %}{% trans "History" %}: {% article_for_object urlpath as article %}{{ article.current_revision.title }}{% endblock %}

{% block wiki_breadcrumbs %}
  {% include "wiki/includes/breadcrumbs.html" %}
{% endblock %}

{% block wiki_contents %}

  {% addtoblock "js" %}
  <script type="text/javascript" src="{{ STATIC_URL }}wiki/js/diffview.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}wiki/js/diff.js"></script>
  <script type="text/javascript">$(document).ready(function() {$('.collapse').collapse()});</script>
  {% endaddtoblock %}

  {% article_for_object urlpath as article %}

  {% if article %}
    <div class="tabbable tabs-top" style="margin-top: 40px;">
      <ul class="nav nav-tabs">
        {% with "history" as selected %}
          {% include "wiki/includes/article_menu.html" %}
        {% endwith %}
        <li>
          <h1 style="margin-top: -10px;">
            {{ article.current_revision.title }}
          </h1>
        </li>
      </ul>
      <div class="tab-content">
        
        <form method="POST">
                    
          {% for revision in revisions %}
            <div class="accordion" id="accordion{{ revision.revision_number }}">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" style="float: left;" href="#collapse{{ revision.revision_number }}" onclick="get_diff_json('{% url wiki:diff revision.id %}', $('#collapse{{ revision.revision_number }}'))">
                    {{ revision.created }} (#{{ revision.revision_number }}) by {% if revision.user %}{{ revision.user }}{% else %}{% if user.is_superuser %}{{ revision.ip_address|default:"anonymous (IP not logged)" }}{% else %}{% trans "anonymous (IP logged)" %}{% endif %}{% endif %}
                    {% if revision == article.current_revision %}
                      <strong>*</strong>
                    {% endif %}
                  </a>
                  <div class="pull-right" style="vertical-align: middle; margin: 3px;">
                    {% if not article|can_write:user or revision == article.current_revision %}
                    <a href="#" class="btn disabled">
                      <span class="icon-lock"></span>
                      {% trans "Switch to this version" %}
                    </a>
                    {% else %}
                    <a href="{% url wiki:change_revision_url urlpath.path revision.id %}" class="btn">
                      <span class="icon-flag"></span>
                      {% trans "Switch to this version" %}
                    </a>                    
                    {% endif %}
                    <a class="btn btn-info" data-toggle="collapse" data-parent="#accordion{{ revision.revision_number }}" href="#collapse{{ revision.revision_number }}">
                      <span class="icon-list-alt"></span>
                      {% trans "Show changes" %}
                    </a>
                  </div>
                  <div style="clear: both"></div>
                </div>
                <div id="collapse{{ revision.revision_number }}" class="accordion-body collapse in">
                  <div class="accordion-inner"><div class="diff-container"></div></div>
                </div>
              </div>
            </div>
          {% endfor %}
          
          {% include "wiki/includes/pagination.html" %}
          
        </form>

      </div>
    </div>

    <div class="tabbable tabs-below" style="margin-top: 20px;">
      <ul class="nav nav-tabs">
        <li style="margin-top: 10px;"><em>{% trans "Article last modified:" %} {{ article.current_revision.modified }}</em></li>
      </ul>
    </div>
    
  {% else %}
    {% trans "An article for this path does not exist." %}
  {% endif %}
  
{% endblock %}

