{% extends "wiki/article.html" %}
{% load wiki_tags i18n sekizai_tags %}

{% block wiki_pagetitle %}{% trans "Move" %}: {{ article.current_revision.title }}{% endblock %}

{% block wiki_contents_tab %}

{% if not user.is_authenticated %}
<p class="alert alert-warning">
{% trans "<strong>Warning:</strong> You are not logged in. Your IP address will be logged." %}
<a href="{% url 'wiki:login' %}?next={% url 'wiki:move' article_id=article.id path=urlpath.path %}">{% trans "Click here to log in" %} &raquo;</a>
</p>
{% endif %}

<div class="row">

  <div class="col-lg-8">
    <form method="POST" class="form-horizontal" id="article_move_form">
      <input type="hidden" name="save" value="1" />
      <input type="hidden" name="preview" value="1" />
      {% with form as form %}
        {% include "wiki/includes/editor.html" %}
      {% endwith %}

      <div class="btn-group" id="dest_selector">
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="dest_selector_title">{% trans "Select destination" %}</span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            {% with current_path=root_path %}{% include "wiki/includes/move_tree.html" %}{% endwith %}
        </ul>
      </div>

    </form>
  </div>

  <div class="col-lg-4" id="wiki-edit-sidebar">
  </div>

</div>

<div style="clear: both"></div>

<div class="form-group form-actions">
  <div class="col-lg-12">
    <div class="col-lg-12">
      <div class="pull-right">
        <a class="btn btn-large btn-primary" onclick="document.getElementById('article_move_form').target=''; document.getElementById('article_move_form').action='{% url 'wiki:move' path=urlpath.path article_id=article.id %}'; $('#article_move_form').submit();" href="#">
          <span class="icon-ok"></span>
          {% trans "Move" %}
        </a>
      </div>
    </div>
  </div>
</div>

{% addtoblock "js" %}

  <script type="text/javascript">

    $('#id_destination').after($('#dest_selector').remove());
    $('#id_destination').attr('type', 'hidden');

    function select_path(path, title) {
      $('#id_destination').val(path);
      $('#dest_selector .dest_selector_title').html(title);
    }

  </script>

{% endaddtoblock %}

{% endblock %}

