{% extends "wiki/base.html" %}
{% load wiki_tags i18n %}

{% block pagetitle %}{% trans "Settings" %}: {% article_for_object urlpath as article %}{{ article.current_revision.title }}{% endblock %}

{% block wiki_breadcrumbs %}
  {% include "wiki/includes/breadcrumbs.html" %}
{% endblock %}

{% block wiki_contents %}

  {% article_for_object urlpath as article %}

  {% if article %}
    <div class="tabbable tabs-top" style="margin-top: 40px;">
      <ul class="nav nav-tabs">
        {% with "settings" as selected %}
          {% include "wiki/includes/article_menu.html" %}
        {% endwith %}
        <li>
          <h1 style="margin-top: -10px;">
            {{ article.current_revision.title }}
          </h1>
        </li>
      </ul>
      <div class="tab-content">
        
        {% for form in forms %}
        <form method="POST" class="form-horizontal" id="settings_form">
          <h2>{{ form.settings_form_headline }}</h2>
          <div class="well">
            {% wiki_form form %}
          </div>
          <div class="form-actions">
            <button type="submit" name="save" value="1" class="btn btn-large btn-primary" onclick="this.form.target=''; this.form.action='{% url wiki:edit_url urlpath.path %}'">
              <span class="icon-ok"></span>
              {% trans "Save changes" %}
            </button>
          </div>
        </form>
        {% endfor %}

      </div>
    </div>

    <div class="tabbable tabs-below" style="margin-top: 20px;">
      <ul class="nav nav-tabs">
        <li style="margin-top: 10px;"><em>{% trans "Article last modified:" %} {{ article.current_revision.modified }}</em></li>
      </ul>
    </div>
    
  {% else %}
    {% trans "An article for this path does not exist." %}
  {% endif %}
  
{% endblock %}

