{% if field.is_hidden %}
  {{ field }}
{% else %}

<div id="div_{{ field.auto_id }}" class="row form-group{% if field.errors %} has-error{% endif %}">
  <div class="wiki-label col-xs-3 col-lg-2">
  {% if field.label %}
    <label for="{{ field.id_for_label }}" class="control-label {% if field.field.required %}requiredField{% endif %}">
    {{ field.label|safe }}
    </label>
  {% endif %}
  </div>
  <div class="wiki-control col-xs-9 col-lg-10">
    <div class="flex-wrap">{{ field }} {% if field.field.required %}<span class="asteriskField">*</span>{% endif %}</div>
    {% if field.errors %}
      {% for error in field.errors %}
        <div id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="invalid-feedback d-block">{{ error }}</div>
      {% endfor %}
    {% endif %}
    {% if field.help_text %}
      <p id="hint_{{ field.auto_id }}" class="form-text text-muted">{{ field.help_text|safe }}</p>
    {% endif %}
  </div>
</div>
{% endif %}
