{% load wiki_tags i18n humanize %}


<tr>
  <td>
    {% for urlpath in article.urlpath_set.all %}
      <a href="{% url 'wiki:get' path=urlpath.path %}">{{ article.current_revision.title }}<br /><small class="muted">/{{ urlpath.path }}</small></a>
    {% empty %}
      <a href="{% url 'wiki:get' article_id=article.id %}">{{ article.current_revision.title }}</a>
    {% endfor %}
    {% if article.current_revision.deleted %}
      <span class="fa fa-trash"></span>
    {% endif %}
    {% if article.current_revision.locked %}
      <span class="fa fa-lock"></span>
    {% endif %}
    <p class="muted"><small>{{ article.render|get_content_snippet:search_query }}</small></p>
  </td>
  <td class="text-nowrap">
    {{ article.current_revision.created|naturaltime }}
  </td>
</tr>
