# Django requirement is set in .travis.yml or requirements.txt

# sorl-thumbnail requirement is set in .travis.yml or requirements.txt

# Wiki language processor
Markdown>2.2.0

# Package for flexible block handling
django-sekizai>=0.7

# Imaging library
Pillow

# Notification system
django-nyt>=0.9.3

# Tree structure handling
# django-mptt 0.6.1 is broken, see
# https://github.com/django-mptt/django-mptt/issues/316
django-mptt==0.6.0

# Python 2 and 3 compatibility
six

