{% extends "wiki/base.html" %}
{% load wiki_tags i18n %}

{% block pagetitle %}{% trans "500 Server error" %}{% endblock %}

{% block wiki_breadcrumbs %}{% endblock %}

{% block wiki_contents %}

<h1 class="page-header">{% trans "500 - ERROR" %}</h1>

<div class="error">
  <p>{% blocktrans trimmed %}
    Oh god no the demo has failed. Please rest assured that an open source developer is reading the
    logs to resolve this, because it's fun!!
    {% endblocktrans %}
  </p>
</div>

{% endblock %}
