.container {
	position:relative;
}
#navigation-container {
	display:block;
	width: 260px;
	position:absolute;
	z-index:2;
  min-height:400px;
}
#article-container {
	display:block;
	width:100%;
	padding-left:290px;
  min-height:400px;
  margin-top:0 !important;
}
#navigation-container .article-list {
	width:260px;
	max-width:260px;
	clear:none !important;
}
#btFooter {
	display: block;
	width: 100%;
	padding-top: 20px;
}
#footMenu {
	text-align: center;
	margin: 0;
	padding: 8px 20px;
}
#footMenu li {
	display: inline-block;
	list-style-type: none;
	font-size: 11px;
}
