{% load sekizai_tags i18n wiki_tags static compress %}
<html lang="en" data-bs-theme="auto">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block wiki_pagetitle %}{% endblock %}{% block wiki_site_title %} - django-\/\/  i K |{% endblock %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="author" content="www.django-wiki.org">

{#  <link rel="manifest" href="{% static '' %}">#}
  <link rel="icon" href="{% static 'wiki/favicon.ico' %}">
  <meta name="theme-color" content="#712cf9">
  {% compress css %}
      <link type="text/x-scss" href="{% static 'wiki/wiki-bootstrap/wiki.scss' %}" rel="stylesheet" media="screen">
{#      <link rel="stylesheet" href="/static/wiki/colorbox/example1/colorbox.css" />#}
  {% endcompress %}
  {% render_block "css" %}

</head>

<body>

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
      <symbol id="check2" viewBox="0 0 16 16">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
      </symbol>
      <symbol id="circle-half" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
      </symbol>
      <symbol id="moon-stars-fill" viewBox="0 0 16 16">
        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"></path>
        <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"></path>
      </symbol>
      <symbol id="sun-fill" viewBox="0 0 16 16">
        <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
      </symbol>
    </svg>
<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
  <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
    <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#circle-half"></use></svg>
    <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
        <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#sun-fill"></use></svg>
        Light
        <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
      </button>
    </li>
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
        <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
        Dark
        <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
      </button>
    </li>
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
        <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#circle-half"></use></svg>
        Auto
        <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
      </button>
    </li>
  </ul>
</div>

{% block wiki_body %}

  {% block wiki_navbar %}
    <header class="bg-dark p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        {% block wiki_header_branding %}
          <a href="{% url 'wiki:root' %}" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
            <img height="40" class="me-2" src="{% static 'wiki/img/django-wiki-logo.svg' %}">
          </a>
        {% endblock %}

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 text-light text-decoration-none">
          {% block wiki_header_navlinks %}
          {% endblock wiki_header_navlinks %}
        </ul>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa text-light fa-user"></i>
            <span class="badge bg-secondary notification-cnt">0</span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu text-small">

          {% if user.is_authenticated %}
            {% if "ACCOUNT_HANDLING"|wiki_settings %}
              <li>
                <a href="{% url 'wiki:profile_update' %}" class="dropdown-item">
                  <i class="fa fa-wrench"></i>
                  {% trans "Account Settings" %}
                </a>
              </li>
            {% endif %}
            <li>
              <a href="{{ "LOGOUT_URL"|wiki_settings }}" class="dropdown-item">
                <i class="fa fa-power-off"></i>
                {% trans "Log out" %}
              </a>
            </li>
            {% if user.is_superuser %}
            <li>
              <a href="{% url 'wiki:deleted_list' %}" class="dropdown-item">
                <i class="fa fa-trash"></i>
                {% trans "Deleted articles" %}
              </a>
            </li>
            {% endif %}
            {% if "wiki.plugins.notifications"|plugin_enabled %}
              {% include "wiki/plugins/notifications/menubaritem.html" %}
            {% endif %}
            {% if "wiki.plugins.globalhistory"|plugin_enabled %}
               {% include "wiki/plugins/globalhistory/menubaritem.html" %}
            {% endif %}
          {% else %}
            <li>
              <a class="dropdown-item" href="{% login_url as wiki_login_url %}{{ wiki_login_url }}">{% trans "Log in" %}</a>
            </li>
            {% if "ACCOUNT_HANDLING"|wiki_settings and "ACCOUNT_SIGNUP_ALLOWED"|wiki_settings %}
              <li>
                <a class="dropdown-item" href="{% url 'wiki:signup' %}">{% trans "Sign up" %}</a>
              </li>
            {% endif %}
          {% endif %}           
            <li><hr class="dropdown-divider"></li>
          {% block wiki_about %}
            <li><a class="dropdown-item" href="https://github.com/django-wiki/django-wiki" target="_blank">{% trans "About" %}</a></li>
          {% endblock wiki_about %}
          </ul>
        </div>
      </div>
    </div>
  </header>
  {% endblock %}

  <div class="container" class="mt-3">

    {% wiki_messages %}

    <!-- Reserved for breadcrumbs -->
    {% block wiki_breadcrumbs %}{% endblock %}

    <!-- Main page contents go here -->
    {% block wiki_contents %}{% endblock %}

    <footer id="wiki-footer" class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        {% block wiki_footer_logo %}
          <a href="https://github.com/django-wiki/django-wiki" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <img src="{% static "wiki/img/github_icon.png" %}" height="24"/>
          </a>
        {% endblock %}
        <span class="mb-3 mb-md-0 text-body-secondary"><a class="text-decoration-none" href="https://github.com/django-wiki/django-wiki">Powered by django-wiki</a></span>
      </div>
      {% block wiki_footer_prepend %}{% endblock %}

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        {% block footer_links %}
        <li class="ms-3"><a class="text-body-secondary" href="https://github.com/django-wiki/django-wiki"><svg class="bi" width="24" height="24"><use xlink:href="#github"></use></svg></a></li>
        {% endblock footer_links %}
      </ul>
    </footer>
  </div> <!-- /container -->
{% endblock %}

{% compress js %}
  <script src="{% static "wiki/js/bootstrap.bundle.js" %}"></script>
  <script src="{% static "wiki/js/color-modes.js" %}"></script>
  <script src="{% static "wiki/js/jquery-3.6.0.min.js" %}"></script>
  <script src="{% static "wiki/js/core.js" %}"></script>
  <script src="{% static "wiki/js/respond.min.js" %}"></script>
{% endcompress %}
{% render_block "js" %}

</body>
</html>
