{% extends "wiki/create_root.html" %}
{% load i18n wiki_tags %}

{% block wiki_contents %}

<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">

    <h1>{% trans "Congratulations!" %}</h1>
    <p class="lead">
      {% trans "You have django-wiki installed and it seems to be working. But there are no articles yet." %}
    </p>

    {% if not user.is_superuser %}
      <p class="lead">
        {% trans "Not to worry! You simply have to login with a superuser account and create the first article in the root of the URL hierarchy." %}
      </p>
      {% login_url as wiki_login_url %}
      {% if wiki_login_url %}
        <a href="{{ wiki_login_url }}" class="btn btn-primary btn-lg">{% trans "Click here to login" %}</a>
      {% endif %}

    {% else %}

      <p class="lead">
        {% trans "But since you're logged in as a superuser, we should really get started..." %}
      </p>
      <a href="{% url 'wiki:root_create' %}" class="btn btn-primary btn-lg">{% trans "Yes, I'll go and create the first article" %}</a>
      <a href="http://django-wiki.readthedocs.org/" class="btn btn-secondary">{% trans "No thanks, I'd rather read the documentation" %}</a>

      {% endif %}
  </div>
  <div class="col-lg-2"></div>
</div>

{% endblock %}
