{% extends "wiki/base.html" %}
{% load wiki_tags i18n humanize %}


{% block wiki_pagetitle %}{% trans "Search results for:" %} {{ search_query }}{% endblock %}

{% block wiki_contents %}

<h1 class="page-header">{% trans "Search results for:" %} {{ search_query }}</h1>

<form class="form-search directory-toolbar">
<p class="lead">
  <div class="float-right">
    {% if urlpath %}
      {% trans "Searching in" %} {{ urlpath.article }}
    {% else %}
      {% trans "Searching whole wiki" %}
    {% endif %}
    <div class="input-group">
      <input type="search" class="form-control search-query" name="q" value="{{ search_query }}" />
      <span class="input-group-append">
        <button class="btn btn-secondary" type="submit">
          <span class="fa fa-search"></span>
        </button>
      </span>
    </div>
  </div>
  <p>{% blocktrans with paginator.object_list.count as cnt %}Your search returned <strong>{{ cnt }}</strong> results.{% endblocktrans %}</p>
  <div class="clearfix"></div>
</p>
</form>

<table class="table table-striped">
  <tr>
    <th style="width: 75%">{% trans "Title" %}</th>
    <th>{% trans "Last modified" %}</th>
  </tr>
  {% for article in articles %}
    {% block wiki_search_loop %}
    {% include "wiki/includes/searchresult.html" %}
    {% endblock %}
    {% empty%}
    <tr>
      <td colspan="100">
        <em>{% trans "There are no articles in this level" %}</em>
      </td>
    </tr>
  {% endfor %}
</table>

{% include "wiki/includes/pagination.html" %}

{% endblock %}
